.courses-container {
    padding: 20px;
}

.search-button {
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.courses-list {
    display: flex;
    flex-wrap: wrap;
}

.course-card {
    background-color: #fff;
    border: 1px solid #535353f3;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(162, 242, 179, 0.925);
}

.course-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.course-card p {
    color: #666;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.retry-button {
    margin-top: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.retry-button:hover {
    background-color: #c82333;
}
