.course-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
   .course-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
   
   .course-card h3 {
    margin: 0;
    padding: 0;
   }
   
   .course-card p {
    margin-top: 10px;
   }
   
   .course-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
   }
   
   .create-course-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   }
   